proxmox_api_url = "https://<domain>:8006/api2/json"
proxmox_api_token = "terraform@pam!terraform-token=<token>"
proxmox_tls_insecure = true
proxmox_node = "pve"
template_vm_id = 9000
storage_pool = "local-lvm"
ssh_public_keys = "<pub_key>"
ssh_private_key_path = "~/.ssh/<key>"
network_bridge = "vmbr0"
ip_address_range = ["<ip_1>", "<ip_2>", "<ip_3>"]
gateway_ip = "<gateway>"
domain = "<domain>"
nameserver = ["1.1.1.1", "8.8.8.8"]
gitlab_vm_id_range = [120, 121, 122]
root_password = "<password>"
